# Editor
.vscode
.idea

# Compiles/optimized files
__pycache__/
*.py[cod]
*$py.class

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Project files
test-*.ipynb
*.dat
*.nd2
*.csv